[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "localvimrc"]
	path = localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible.git
